# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Files
backend/venv/
backend/.venv/
backend/__pycache__/
*.pyc
.env
# Editor-based HTTP Client requests
/httpRequests/
# Dependencies
node_modules/
.expo/


# IDE Settings
.idea/
*.iml

# Build outputs
dist/
web-build/

# Logs
npm-debug.log*
yarn-error.log*